<?php
/**
 * @let \Safrapay\Magento2\Block\PixSuccess $block
 */

if ($block->getPaymentMethod() === "safrapaypix"):
    ?>
<br>
<br>
<div id="pix-additional">
    <center>
    <p>
        Realize o pagamento diretamente no seu aplicativo de pagamentos ou Internet Banking, para isso, escaneie o QR code abaixo:
    </p>
    <p>
        <img src="<?=$block->getQrCodeUrl()?>">
    </p>
    <p>Código válido por:</p>
    <p id="pix-countdown"></p>

    <p>Ou se preferir, copie e cole o código abaixo:</p>
    <p><input id="copyTarget" type="text" size="100" class="input-text" value="<?=$block->getQrCodeTxt()?>" readonly="readonly"></p>
    <button id="copyButton"  class="action primary continue">
        <?php echo __('Copy') ?>
    </button>
    <script type="text/javascript">
        document.getElementById("copyButton").addEventListener("click", function() {
            copyToClipboard(document.getElementById("copyTarget"));
        });

        function copyToClipboard(elem) {
            // create hidden text element, if it doesn't already exist
            let targetId = "_hiddenCopyText_";
            let isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
            let origSelectionStart, origSelectionEnd;
            if (isInput) {
                // can just use the original source element for the selection and copy
                target = elem;
                origSelectionStart = elem.selectionStart;
                origSelectionEnd = elem.selectionEnd;
            } else {
                // must use a temporary form element for the selection and copy
                target = document.getElementById(targetId);
                if (!target) {
                    let target = document.createElement("textarea");
                    target.style.position = "absolute";
                    target.style.left = "-9999px";
                    target.style.top = "0";
                    target.id = targetId;
                    document.body.appendChild(target);
                }
                target.textContent = elem.textContent;
            }
            // select the content
            let currentFocus = document.activeElement;
            target.focus();
            target.setSelectionRange(0, target.value.length);

            // copy the selection
            let succeed;
            try {
                succeed = document.execCommand("copy");
            } catch(e) {
                succeed = false;
            }
            // restore original focus
            if (currentFocus && typeof currentFocus.focus === "function") {
                currentFocus.focus();
            }

            if (isInput) {
                // restore prior selection
                elem.setSelectionRange(origSelectionStart, origSelectionEnd);
            } else {
                // clear temporary content
                target.textContent = "";
            }
            return succeed;
        }
    </script>

    <script>
        // Set the date we're counting down to
        let countDownDate = new Date("<?=date("M d, Y H:i:s", time() + 1800)?>").getTime();

        // Update the count down every 1 second
        let x = setInterval(function() {

            // Get today's date and time
            let now = new Date().getTime();

            // Find the distance between now and the count down date
            let distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            let days = Math.floor(distance / (1000 * 60 * 60 * 24));
            let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("pix-countdown").innerHTML = "00:" + minutes + ":" + seconds;

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("pix-countdown").innerHTML = "EXPIRADO";
            }
        }, 1000);
    </script>
    </center>
</div>
<div id="modal-pix-complete" style="display: none;text-align: center;">
    <p><img src="<?=$block->getViewFileUrl('Safrapay_Magento2::images/payment-success.png')?>"></p>
    <p>Pagamento realizado com sucesso!</p>
</div>
<script>
    window.orderId = <?=$block->escapeHtml($block->getOrder()->getId())?>;
    require([
        'jquery',
        'mage/storage',
    ], function (
        $,
        storage
    ) {
        'use strict';
        return function () {
            let updatePayment = setInterval(function() {
                storage.get(
                    'rest/V1/safrapay/orderhasinvoices/' + window.OrderId,
                    true
                ).done(function (result) {
                    if(result !== "true") {
                        return false;
                    }
                    $('#modal-pix-complete').show();
                    clearInterval(updatePayment);
                }).fail(function () {
                    return false;
                });
            }, 2000);
        }
    });
</script>



<?php endif; ?>
