<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="field name required">
            <label data-bind="attr: {for: getCode() + '_pixfullname'}" class="label">
                <span>Nome</span>
            </label>

            <div class="control">
                <input type="text" name="pixfullname" class="input-text" max-width="300px"
                       style="max-width:300px;!important" value=""
                       data-bind="attr: {
												value: getFullName(),
												autocomplete: off,
												id: getCode() + '_pixfullname',
												title: $t('Nome'),
												'data-container': getCode() + '-pixfullname',
												'data-validate': JSON.stringify({'required':true})}"/>
            </div>
        </div>

        <div class="field document required">
            <label data-bind="attr: {for: getCode() + '_pixdocument'}" class="label">
                <span><!-- ko i18n: 'CPF/CNPJ'--><!-- /ko --></span>
            </label>
            <div class="control">
                <input type="text" name="pixdocument" class="input-text" style="max-width:300px;!important"
                       max-width="300px" value="" required
                       data-bind="attr: {
													value: getTaxVat(),
													autocomplete: off,
													required: true,
													id: getCode() + '_pixdocument',
													title: $t('CPF/CNPJ'),
													'data-container': getCode() + '-pixdocument',
													'data-validate': JSON.stringify({'required':true})}"/>
            </div>
        </div>
        <div class="field safrapaypix_terms" style="margin-top: 5px;">
            <label data-bind="attr: {for: getCode() + '_terms'}" class="label">
            </label>
            <div class="control">
                <input type="checkbox" name="safrapaypix_terms" class="checkbox" value=""
                       data-bind="attr: {
													autocomplete: off,
													id: getCode() + '_terms',
													'data-container': getCode() + '-terms',
													'data-validate': JSON.stringify({'validate-terms':'#' + getCode() + '_terms'})
												}"/>
                <span data-bind="html: getTermsHtml()"></span>
            </div>
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="text: $t('Place Order')"></span>
                </button>
            </div>
        </div>
    </div>
</div>

