.safrapay-cc-number {
    padding-left: 52px!important;
    background-image: none!important;
    background-size: 43px Auto!important;
    background-repeat: no-repeat!important;
}

#modal-pix-complete {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #FFFFFF;
    width: 100%;
    height: 50%;
}
